
@{
    Layout = "~/Views/Shared/_Layout _Client.cshtml";
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- custom css link -->
    <link rel="stylesheet" href="~/Stack/css/style.css" />

}

<h3>About us</h3>
<p>
    Welcome to our website, We provide excellent services on appartment renal.<br />
    <section class="exclusive-items">
        <section>
            <img src="~/Stack/image/image-1.png" alt="London" />
            <span>

            </span>
        </section>
        <section>
            <img src="~/Stack/image/image-2.png" alt="Swltzerland" />
            <span>

            </span>
        </section>
        <section>
            <img src="~/Stack/image/image-3.png" alt="Australia" />
            <span>

            </span>
        </section>
        <section>
            <img src="~/Stack/image/image-4.png" alt="France" />
            <span>

            </span>
        </section>
        <section>
            <img src="~/Stack/image/image-5.png" alt="Amsterdom" />
            <span>

            </span>
        </section>
      

    </section>
    </section>
    <section class="travellers-section">
        <section class="sub-title">
            <h2>Enjoying your life</h2>
        </section>
        <section class="travellers-items">
            <section>
                <img src="~/Stack/image/story-1.png" alt="story" />
                
            </section>
            <section>
                <img src="~/Stack/image/story-2.png" alt="story" />
                 
            </section>
            <section>
                <img src="~/Stack/image/story-3.png" alt="story" />
                 
            </section>
        </section>
         
    </section>
</p>